.footer__menu-item {
margin-right: 18px;
}
.footer__menu-item:last-child {
  margin-bottom: 0px;
}


@media screen and (max-width: 767px) {
  .footer__menu-item {
    margin-right: 32px;
  }
  .footer__menu-item:last-child {
  margin-bottom: 0px;
}
}