.place__row {
  display: flex;
  flex-direction: row;
  gap: 0 40px;
}

@media screen and (max-width: 1024px) {
  .place__row {
    gap: 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__row {
    gap: 0 28px;
  }
}

@media screen and (max-width: 320px) {
  .place__row {
    flex-direction: column;
    gap: 0;
  }
}
