.lead {
  display: flex;
  flex-direction: column;
  width: 984px;
  margin: 0;
  padding: 0px 148px 92px 148px;
  background-color: #2a2c2f;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 928px;
    padding: 0px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 768px;
    padding: 0px 0px 88px 0px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: 320px;
    padding: 0px 0px 64px 0px;
  }
}