.lead__title {
  max-width: 720px;
  min-height: 200px;
  margin: 0 0 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  align-self: center;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 110%;
    margin: 0 0 16px;
  }
}
