.intro {
  max-width: 690px;
  margin: 0;
  padding-left: 148px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  background-color: #2a2c2f;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
    padding-bottom: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    padding-left: 24px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    padding-left: 16px;
    padding-bottom: 64px;
  }
}
