.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #ffffff;
  cursor: pointer;
}

.place__link:hover {
  opacity: 0.8;
}
/* 
@media screen and (max-width: 1023px) {
  .place__link {
    max-width: 352px;
  }
} */

@media screen and (max-width: 767px) {
  .place__link {
    padding: 0 0 0 16px;
  }
}
