.cover__title {
  margin: 0;
  padding: 0px 0px 32px 0px;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  color: #ffffff;
  text-align: center;
  max-width: 560px;
  text-rendering: optimizeLegibility;
}
.cover__title::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    padding: 0px 0px 16px 0px;
  }
}
