.place {
  display: grid;
  grid-template-columns: repeat(2, fit-content(460px));
  grid-template-rows: repeat(2, fit-content(484px));
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: repeat(2, fit-content(440px));
  grid-template-rows: repeat(2, fit-content(456px));
    gap: 48px 32px;
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
   grid-template-columns: repeat(2, fit-content(340px));
  grid-template-rows: repeat(2, fit-content(352px));
    gap: 28px;
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .place {
     grid-template-columns: repeat(1, fit-content(320px));
  grid-template-rows: repeat(1, fit-content(320px));
    gap: 32px 0;
    width: 320px;
  }
}
