.place {
  display: flex;
  flex-direction: column;
  gap: 48px 0px;
  margin: 0px;
  max-width: 1280px;
}

@media screen and (max-width: 320px) {
  .place {
    /* padding-bottom: 50px; */
    gap: 0px;
  }
}
