.place__url-heading {
  max-width: 456px;
  min-height: 22px;
  font-style: normal;
  font-weight: 400;
 font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #aaaaaa;
  display: inline-block;
  margin: 0;
  padding: 0 0 12px;
}

@media screen and (max-width: 1024px) {
  .place__url-heading {
    min-height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    max-width: 352px;
    min-height: 12px;
    line-height: 100%;
  }
}


@media screen and (max-width: 320px) {
  .place__url-heading {
    max-width: 288px;
    min-height: 12px;
    line-height: 100%;
    padding: 0 16px 12px;
  }
}