.intro__title {
  height: 58px;
  width: 690px;
  margin: 0;
  padding: 0px 0px 40px 0px;
  font-size: 54px;
  font-weight: 900;
  line-height: 107%;
  text-align: left;
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  .intro__title {
    width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    width: 288px;
    height: 70px;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    /* or 35px */
  }
}